@using System.Text.Json
@using BoardMaui
@using BoardMaui.Extensions
@using BoardMaui.Models

@inject DatabaseUtility DatabaseUtility
@page "/editmessages"

<style>
	* {
		opacity: 1 !important;
	}
</style>
<form class="container my-4">
    <div class="content-card shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h5 class="card-title fw-bold">עורך הודעות</h5>
                    <hr />
                    <div class="mb-3">
                        <label class="form-label">כותרת:</label>
                        <input type="text" class="form-control" @bind="title" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">תוכן:</label>
                        <textarea cols="40" rows="10" class="form-control" @bind="message"></textarea>
                    </div>
                    <button type="reset" class="btn btn-primary w-100" @onclick="Add">הוסף</button>
                </div>

                <div class="col-md-8 mb-3">
                    <h5 class="card-title fw-bold">רשימה</h5>
                    <hr />
                    @foreach (var message in MauiProgram.Synagogue.Messages ?? [])
                    {
                        <div class="border rounded p-3 mb-2">
                            <div class="row">
                                <div class="col-md-3 fw-bold">@message.Title</div>
                                <div class="col-md-6">@message.Body</div>
                                <div class="col-md-3 text-end">
                                    <button class="btn btn-danger btn-sm"
                                            @onclick="async x => await DatabaseUtility.RemoveFromList(MauiProgram.Synagogue.Messages, message)">
                                        הסר
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@code {
		string? title;
		string? message;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		MauiProgram.CurrentPage = null;
		MauiProgram.Synagogue.Messages ??= new();
	}
	public async Task Add()
	{
		MauiProgram.Synagogue.Messages?.Add(new Message() { Title = title, Body = message });
		title = null;
		message = null;
		await DatabaseUtility.SaveAll();
	}

	public async Task RemoveFromList(int? i)
	{
		if (i.HasValue)
		{
			MauiProgram.Synagogue.Messages?.RemoveAt(i.Value);
			await DatabaseUtility.SaveAll();
		}
	}
}