@using BoardMaui.Extensions
@using BoardMaui.Models;
@inject DatabaseUtility DatabaseUtility;
@page "/editrip"

<style>
	* {
		opacity: 1 !important;
	}
</style>
<form class="container my-4">
    <div class="content-card shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h5 class="card-title fw-bold">עורך עילוי נשמות</h5>
                    <hr />
                    <div class="mb-3">
                        <label class="form-label">שם:</label>
                        <input type="text" class="form-control" @bind="name" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">תאריך:</label>
                        <input type="text" class="form-control" @bind="date" />
                    </div>
                    <button type="reset" class="btn btn-primary w-100" @onclick="Add">הוסף</button>
                </div>

                <div class="col-md-8 mb-3">
                    <h5 class="card-title fw-bold">רשימה</h5>
                    <hr />
                    @foreach (var person in MauiProgram.Synagogue.RIPs ?? [])
                    {
                        <div class="border rounded p-3 mb-2">
                            <div class="row">
                                <div class="col-md-4 fw-bold">@person.Name</div>
                                <div class="col-md-4">@person.Date</div>
                                <div class="col-md-4 text-end">
                                    <button class="btn btn-danger btn-sm"
                                            @onclick="async x => await DatabaseUtility.RemoveFromList(MauiProgram.Synagogue.RIPs, person)">
                                        הסר
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>
@code
{
	string? name;
	string? date;

	protected override void OnInitialized()
	{
		MauiProgram.CurrentPage = null;
		MauiProgram.Synagogue.RIPs ??= new();
		base.OnInitialized();
	}
	public async Task Add()
	{
		MauiProgram.Synagogue.RIPs?.Add(new Person() { Name = name, Date = date });
		name = null;
		date = null;
		await DatabaseUtility.SaveAll();
	}
	public async Task RemoveFromList(int? i)
	{
		if (i.HasValue)
		{
			MauiProgram.Synagogue.RIPs?.RemoveAt(i.Value);
			await DatabaseUtility.SaveAll();
		}
	}
}