@using System.Text.Json;
@using System.Text.Json.Serialization;
@using BoardMaui.Extensions
@using BoardMaui.Models;
;
@inject DatabaseUtility DatabaseUtility;
@page "/editrip"

<style>
	* {
		opacity: 1 !important;
	}
</style>
<form>
	<table class="w-100 body2">
		<tr style="height: 60vmin;">
			<td valign="top" class="rounded-4 shadow">
				<table class="w-100">
					<tr>
						<td class="w-33" valign="top">
							<p class="minititle">
								<b>עורך עילוי נשמות</b>
							</p>
							<hr />
							<table class="w-100">
								<tr>
									<td class="w-25">שם:</td>
									<td width="75%">
										<input type="text" @bind="name" />
									</td>
								</tr>
								<tr>
									<td class="w-25">תאריך:</td>
									<td width="75%">
										<input type="text" @bind="date" />
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<input value="הוסף" type="reset" @onclick="Add" />
									</td>
								</tr>
							</table>
						</td>
						<td class="w-66" valign="top">
							<p class="minititle">
								<b>רשימה</b>
							</p>
							<hr />
							@foreach (var person in MauiProgram.Synagogue.RIPs ?? [])
							{
								<table class="m-0 w-100">
									<tr>
										<td class="w-33">@person.Name</td>
										<td class="w-33">@person.Date</td>
										<td class="w-33">
											<input value="הסר" type="button" @onclick="async x => await DatabaseUtility.RemoveFromList(MauiProgram.Synagogue.RIPs, person)" />
										</td>
									</tr>
								</table>
								<hr />
							}
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>

@code
{
	string? name;
	string? date;

	protected override void OnInitialized()
	{
		MauiProgram.CurrentPage = null;
		MauiProgram.Synagogue.RIPs ??= new();
		base.OnInitialized();
	}
	public async Task Add()
	{
		MauiProgram.Synagogue.RIPs?.Add(new Person() { Name = name, Date = date });
		name = null;
		date = null;
		await DatabaseUtility.SaveAll();
	}
	public async Task RemoveFromList(int? i)
	{
		if (i.HasValue)
		{
			MauiProgram.Synagogue.RIPs?.RemoveAt(i.Value);
			await DatabaseUtility.SaveAll();
		}
	}
}